
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>
<table>
    <tr>
        <td> Employee ID </td>
        <td> @Model.ID </td>
    </tr>


    <tr>
        <td> Employee Name </td>
        <td> @Model.Name </td>
    </tr>

    <tr>
        <td> Employee Address </td>
        <td> @Model.Address </td>
</tr>

<tr>
    <td> Employee Salary </td>
    <td> @Model.Salary </td>
</tr>
</table>