
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<table>
    <tr>
        <td> Student ID </td>
        <td> @Model.ID </td>
    </tr>

    <tr>
        <td> Student Name </td>
        <td> @Model.Name </td>
    </tr>

    <tr>
        <td> Student Address </td>
        <td> @Model.Address </td>
    </tr>

    <tr>
        <td> Student Contact </td>
        <td> @Model.Contact </td>
</tr>
</table>